mixin bindData(o)
    each i in o
        if i !== "admin"
            if typeof(i) == "object"
                li
                    span.filePath= i.name
                    ul.mktre
                        +bindData(i.sub)
            else
                li.tRow
                    button.treeBtn.btn.btn-primary.btn-sm(style="padding:.2em .5em .2em .5em")= i
                    button.trbe.renameBtn.fa.fa-check(type="button")
                    button.trb.editBtn.fa.fa-pencil(type="button")
                    button.trb.deleteBtn.fa.fa-trash-o(type="button")

ul.mktre.masthead-nav
    li.parent 
        span.filePath Views
        ul
            +bindData(views)
    li.parent 
        span.filePath Public
        ul
            +bindData(files)


