extends layout

block content
    .entry
        h2 #{title}.
        h3 #{message}
        address
          | Ahmet Salih
          br
          | Istanbul
          

        address
          strong Support: 
          a(href='mailto:example@domain.com') example@domain.com
    
